<div class="flex flex-col h-full">
  <div class="flex flex-col justify-center items-center mb-5">
    <div>
      <img class="h-16 w-16" src="assets/logo.ico">
    </div>
    <div class="font-bold text-xl text-pink-900">Storsio</div>
  </div>
  <div class="overflow-y-scroll flex-1 no-scrollbar overflow-x-hidden">
    <div class="{{isCollapsed ? 'w-[7svw]':'w-[10svw]'}} px-1 flex flex-col gap-3 h-full"
         style="min-width: {{isCollapsed?'20px':'170px'}}">
      <div class="flex-1">
        <ng-content [select]="SideNavButtonComponent"/>
      </div>
    </div>
  </div>
  <div class="px-1">
    <app-side-nav-button
      (click)="onLogout()" [sideNavCollapsed]="isCollapsed" [tuiIcon]="tuiIconLogOut" name="Logout"/>
  </div>
</div>
