<div class="p-1 w-full  items-center m-1 mr-2 flex bg-emerald-600 relative">


  <img alt="Item Image" class="item-image flex w-56 h-96 ml-2 my-2 rounded-lg "
       src=""/>

  <div class="bg-emerald-50 my-0 p-4 w-60% h-96 ml-2 radius-2 flex-row mr-2 rounded-lg ">

    <h2 class=" mb-3 text-3xl">Supplier Name: {{ supplier.name}}</h2>

    <h3 class=" mb-3 text-3xl">Phone: {{ supplier.phone}}</h3>

    <p class=" right-16 text-xs my-2 ">Email: {{ supplier.email }} </p>

    <p class=" right-16 text-2xl my-2">Company: {{ supplier.company }}</p>

    <p class=" right-16 text-2xl my-2">Status: {{ supplier.status }}</p>
  </div>
</div>
