<div class="bg-pink-950 w-full h-full py-5">
  <div [style.max-width]="sideNavCollapsed ? '130px' : '250px'"
       [style.transition]="'max-width 0.3s ease'"
       class="absolute px-5 flex flex-col py-10 top-0 bottom-0"
  >
    <div
      class="rounded-2xl bg-gradient-to-b from-pink-50 to-pink-950 flex-1 py-3 flex
      flex-col text-white overflow-y-scroll no-scrollbar">
      <app-side-nav [isCollapsed]="sideNavCollapsed" class="h-full">
        <ng-content [select]="SideNavButtonComponent"/>
      </app-side-nav>
    </div>
  </div>
  <div
    [style.transition]="'all 0.3s ease'"
    class="bg-gradient-to-b from-pink-50 to-pink-950 h-full py-5 pr-1 mr-5 rounded-2xl
    {{sideNavCollapsed?'pl-20 ml-16':'pl-[125px] ml-32'}}">
    <div class="h-full">
      <app-header (sideNavToggle)="whenSideNavToggle()" class="h-[10%]"/>
      <div class="overflow-y-scroll mini-scrollbar h-[85%] mt-5">
        <router-outlet/>
      </div>
    </div>
  </div>
</div>

