<tui-scrollbar class="box">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="assets/logo.ico" alt="Storsio">
    <h2 class="mt-5 text-center text-2xl font-bold leading-9
    tracking-tight text-gray-900">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" class="space-y-4" action="#" method="POST">
      <div>
        <label tuiLabel="email" for="email" class="block text-sm font-medium
        leading-6 text-gray-900">Email Address</label>
        <div class="mt-2">
          <tui-input tuiHintContent="'Enter Your Email Address'"
                     formControlName="email" tuiTextfieldSize="m"
                     tuiTextfieldCleaner="true">
            <input autocomplete="email" type="email" id="email" placeholder="Email Address" tuiTextfield/>
          </tui-input>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <tui-input-password formControlName="password" tuiTextfieldSize="m">
            <input type="password" id="password" placeholder="Password" tuiTextfield/>
          </tui-input-password>
        </div>
      </div>

      <div>
        <button (click)="onSubmit()" type="submit" class="flex w-full justify-center rounded-md
        bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white
        shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
        focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not Register?
      <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sign Up Here!!!</a>
    </p>
  </div>
</div>
</tui-scrollbar>
