<div class="p-5 ">
  <div class="flex justify-between items-center mb-3">

    <div>
      <img class="mx-auto h-10 w-auto" src="assets/logo.ico" alt="Storsio">
      <h2 class="mt-5 text-center text-2xl font-bold leading-9
    tracking-tight text-gray-900">Orders</h2>
    </div>
    <div  class="flex flex-row space-x-4 mb-4">
      <button (click)="navigateToFormPage()" appearance="add-new" icon="tuiIconPlus"
              size="m" tuiButton type="submit">Add New Order</button>
    </div>
  </div>

  <div *ngFor="let order of tableData" class="flex flex-col gap-4 bg-pink-200 rounded-lg m-2">
    <div class="flex  items-center space-x-3">
      <img class="w-20 h-20 ml-2 my-2 rounded-lg" src="assets/profile.png">
      <div >

        <h3 class="text-lg font-bold text-emerald-800">{{ order.name }}</h3>
        <h3 class="text-lg font-bold text-emerald-800">{{ order.qty }}</h3>
        <p class="text-sm font-bold text-emerald-800">{{ order.price }} </p>
        <p class="text-sm font-bold text-emerald-800">{{ order.customerName }} </p>
        <p class="text-sm font-bold text-emerald-800">{{ order.phone }} </p>
        <p class="text-sm font-bold text-emerald-800">{{ order.address }} </p>
        <p class="text-sm font-bold text-emerald-800">{{ order.amount }} </p>
      </div>
      <div class="flex-1"></div>
      <div class="flex justify-end right-16 align">
        <button (click)="onView(order)" appearance="edit-save"
                class="m-1 bg-pink-800 text-red-50 w-24 h-5 rounded-lg" size="m"
                tuiButton tuiSurface="elevated">View
        </button>
        <button (click)="onEdit.emit(order)" appearance="edit-save"
                class="m-1 bg-pink-800 text-red-50 w-24 h-5 rounded-lg" size="m"
                tuiButton tuiSurface="elevated">Edit
        </button>
      </div>
    </div>
  </div>

</div>

