<div class="p-1 w-full  items-center m-1 mr-2 flex bg-pink-600 relative">


  <img alt="Item Image" class="item-image flex w-56 h-96 ml-2 my-2 rounded-lg "
       src=""/>

  <div class="bg-pink-50 my-0 p-4 w-60% h-96 ml-2 radius-2 flex-row mr-2 rounded-lg ">

    <h2 class=" mb-3 text-3xl">Item Name: {{ order.name}}</h2>

    <h3 class=" mb-3 text-3xl">Item Quantity: {{ order.qty}}</h3>

    <p class=" right-16 text-xs my-2 ">Unit Price: {{ order.price }} </p>

    <p class=" right-16 text-2xl my-2">Status{{ order.status }}</p>

    <p class=" right-16 text-2xl my-2">Customer Phone: {{ order.phone }}</p>

    <p class=" right-16 text-2xl my-2">Shipping Address: {{ order.address }}</p>

    <p class=" right-16 text-2xl my-2">Order Amount: {{ order.amount }}</p>

  </div>
</div>
