<div class="p-1 w-full  items-center m-1 mr-2 flex bg-pink-600 relative">


  <img alt="Item Image" class="item-image flex w-56 h-96 ml-2 my-2 rounded-lg "
       src=""/>

  <div class="bg-pink-50 my-0 p-4 w-60% h-96 ml-2 radius-2 flex-row mr-2 rounded-lg ">

    <h2 class=" mb-3 text-3xl">Item Name: {{ item.name}}</h2>

    <h3 class=" mb-3 text-3xl">Description: {{ item.description}}</h3>

    <p class=" right-16 text-xs my-2 ">Quantity: {{ item.qty }} </p>

    <p class=" right-16 text-2xl my-2">Price: {{ item.price }}</p>
  </div>
  <label tuiLabel="Rate Taiga UI">
    <tui-rating
      class="rating"
      [(ngModel)]="value"
    ></tui-rating>
  </label>
</div>
